@import "tailwindcss";

@custom-variant hover (&:hover);

html {
  scrollbar-gutter: stable both-edges;
  background-color: black;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  70% {
    opacity: 0;
  }
  100% {
    background-position: 200% 0;
    opacity: 0;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
.styled-scrollbar:hover {
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}
.styled-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
